@import "veriables";


.categories{

  .content{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: center;
    .card{
      margin: 50px;
      padding-top: 10px;
      padding-bottom: 20px;



      img{
        width: 140px;
        height: 140px;
        border-radius: 100%;
      }
      h2{
        color: $green;
        padding: 10px 0;
        font-size: 2rem;
      }
      p{
        color: $black;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }
  }
}


























